{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Create a school</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

